* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container,
.center-container,
.menu-list,
.menu-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
}

.center-container,
.menu-row {
  flex-wrap: nowrap;
}

.menu-row {
  flex-basis: 100%;
}

.header,
.footer {
  flex-basis: 100%;
  min-height: 100px;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main,
.aside-1,
.aside-2 {
  min-height: calc(100vh - 200px);
}

.aside-1,
.aside-2 {
  flex-shrink: 0;
}

.main {
  background: deepskyblue;
  order: 1;
}

.aside-1 {
  background: gold;
  flex-basis: 300px;
}

.aside-2 {
  background: hotpink;
  order: 2;
  flex-basis: 200px;
}

.menu__item {
  background-color: brown;
  border: 3px solid;
  flex-grow: 1;
}