* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  text-align: center;
}

.header,
.footer {
  flex-basis: 100%;
  margin-bottom: 20px;
  min-height: 100px;
}

.header {
  background: tomato;
}

.footer {
  order: 4;
  background: lightgreen;
}

.main,
.aside-1,
.aside-2 {
  margin-bottom: 20px;
  min-height: calc(100vh - 200px);
}

.main {
  background: deepskyblue;
}

.aside-1 {
  background: gold;

}

.aside-2 {
  background: hotpink;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.menu__item {
  background-color: brown;
  margin-bottom: 20px;
  flex-basis: 100%;
  border: 3px solid;
}


@media all and (min-width: 700px) {
  .container {
    flex-direction: row;
    row-gap: 20px;
  }

  .aside-1 {
    order: 1;
    flex-basis: 300px;
  }

  .main {
    order: 2;
    flex-grow: 1;
  }

  .aside-2 {
    order: 3;
    flex-basis: 200px;
  }

  .footer {
    order: 4;
  }

  .menu__item {
    flex-basis: 100%;
  }
}

@media all and (min-width: 900px) {
  .menu__item {
    flex-basis: 45%;
  }
}

@media all and (min-width: 1280px) {
  .menu__item {
    flex-basis: 30%;
  }
}